.DS_Store
.dart_tool/

.packages
.pub/

build/
ios/.generated/
ios/Flutter/Generated.xcconfig
ios/Runner/GeneratedPluginRegistrant.*

.idea/
flutter_adaptive_cards.iml

test/failures/
example/windows/flutter/generated_plugin_registrant.cc
example/windows/flutter/generated_plugin_registrant.h
example/windows/flutter/generated_plugins.cmake
example/macos/Flutter/GeneratedPluginRegistrant.swift
example/pubspec.lock
example/windows/flutter/generated_plugin_registrant.cc
example/windows/flutter/generated_plugin_registrant.h
example/windows/flutter/generated_plugins.cmake
